@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");

$green: #06d6a0;
$red: #ef476f;

body {
  background-color: #181920;
  font-family: Lemon, Arial;
  margin: 0;
  width: 100vw;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;

  main {
    padding: 2em;

    .coins-list {
      display: flex;
      flex-direction: column;
      gap: 1em;
      height: 30em;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      .coin-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.8rem;

        .coin-logo {
          width: 2em;
        }

        .coin-title {
          display: flex;
          flex-direction: column;
          gap: 0.4em;
          width: 25%;

          &:nth-child(1) {
            text-wrap: wrap;
            word-wrap: break-word;
          }

          .coin-symbol {
            color: gray;
            font-size: 0.8em;
          }
        }

        @mixin percentageArrowProps(
          $color,
          $arrow-color,
          $angle,
          $arrow-margin
        ) {
          background: rgba($color, $alpha: 0.14);
          border-color: $color;

          :nth-child(1) {
            background-color: $arrow-color;
          }

          :nth-child(2) {
            margin-top: $arrow-margin;
            border-bottom: 7px solid $arrow-color;
            transform: rotate($angle);
          }
        }

        .percentage-arrow {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          border: 1.5px solid;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          box-sizing: border-box;

          :nth-child(1) {
            width: 2px;
            height: 8px;
            position: absolute;
          }

          :nth-child(2) {
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
          }
        }

        &.up {
          .percentage-arrow {
            @include percentageArrowProps($green, $green, 0deg, -5px);
          }

          .change-percent {
            color: $green;
          }
        }

        &.down {
          .percentage-arrow {
            @include percentageArrowProps($red, $red, 180deg, 5px);
          }

          .change-percent {
            color: $red;
          }
        }

        .change-percent {
          min-width: 4em;
        }

        .current-price {
          min-width: 25%;
          text-align: right;
        }
      }
    }
  }
}
